
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>My First Bootstrap Page</h1>
        <p>Resize this <mark>responsive</mark> page to see the effect!</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Exercise 1 : 6a</h3>
                <p>It has a <span class="text-success">jumbotron</span> on the top with some text. Bootstrap allows 12 columns across the page. The page is divided into three columns with each having size 4.</p>
                <p></p>
            </div>
            <div class="col-sm-4">
                <h3>Exercise 1: 6b</h3>
                <p>The <span class="text-success">column is divided</span> with the grid class "sm-4" and is <mark>responsive</mark>, so the columns re-arranges automatically depending on the screen size. </p>
            </div>
            <div class="col-sm-4">
                <h3>Exercise 1 : 6c</h3>
                <p>Bootrap is <mark>responsive</mark> and the columns in it re-arranges itself depending on the size of the screen. Since we use "col-sm-4" class of Bootstrap, <span class="text-danger">the page becomes responsive</span>.</p>
            </div>
        </div>
    </div>

</body>
</html>
